@font-face {
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/TCM-M.TTF');
}

@font-face {
    font-family: 'Tw Cen MT';
    font-style: italic;
    font-weight: normal;
    src: url('fonts/TCM-MI.TTF');
}

@font-face {
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/TCM-B.TTF');
}

@font-face {
    font-family: 'Tw Cen MT Condensed';
    font-style: italic;
    font-weight: bold;
    src: url('fonts/TCM-BI.TTF');
}

@font-face {
    font-family: 'Tw Cen MT Condensed';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/TCMC-M.TTF');
}

@font-face {
    font-family: 'Tw Cen MT Condensed';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/TCMC-B.TTF');
}

@font-face {
    font-family: 'Tw Cen MT Condensed';
    font-style: normal;
    font-weight: extra-bold;
    src: url('fonts/TCMC-EB.TTF');
}

@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/segoeui.ttf');
}