@import url("fonts.css");

body {
    cursor: default;
    margin: 0;
    background-color: rgb(64, 64, 64);
    padding-top: 60px;
    padding-bottom: 40px;
    color: #eee;
    font-size: 12pt;
    font-family: "Tw Cen MT";
    user-select: none;
}

/*div {
    box-shadow: inset 0px 0px 0px 1px #f00;
}*/

.collapse {
    display: grid;
    grid-template-rows: min-content 0fr;
    transition: grid-template-rows 0.2s;
    width: 100%;
}

.collapse div {
    overflow: hidden;
}

body[mode="view"] .mode-view,
body[mode="edit"] .mode-edit {
    grid-template-rows: min-content 1fr;
}

.template-container {
    display: none;
}

/*
 ********** Navbar **********
 */
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #333;
    width: 100%;
    height: 50px;
}

.navbar__character-name-label {
    margin-right: 10px;
    margin-left: 20px;
    color: #eee;
    font-weight: bolder;
    font-size: 26pt;
}

body[mode="edit"] .navbar__character-name-label {
    cursor: text;
}

.navbar__character-name-edit {
    display: none;
    flex-grow: 2;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

#nav-rename-button {
    display: none;
}

body[mode="edit"] #nav-rename-button {
    display: block;
}

#nav-rename-button,
.navbar__character-name-edit button {
    vertical-align: 2px;
    transition: opacity 0.2s;
    border: 0px;
    background-color: rgb(255, 140, 0);
    padding-top: 0.25em;
    width: 30px;
    height: 26px;
    color: black;
    font-weight: bolder;
    line-height: 100%;
    font-family: inherit;

    &:hover {
        background-color: rgb(255, 165, 0);
    }

    &:active {
        background-color: rgb(255, 190, 0);
    }
}

.navbar__character-name-input {
    position: relative;
    left: -4px;
    flex-grow: 2;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 26pt;
    font-family: "Tw Cen MT";
}

.navbar__button-container {
    display: flex;
    gap: 40px;
    margin-right: 20px;
    margin-left: auto;
}

.navbar__button-group {
    display: flex;
    gap: 10px;
}

.navbar__button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #555;
    padding: 8px 16px;
    color: #eee;
    font-weight: bold;
}

.navbar__button:not(.navbar__button--active):hover {
    background-color: #666;
}

.navbar__button--active {
    background-color: #007bff;
}

/*
 ********** Status Bar **********
 */
.status-bar {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    background-color: #333;
    padding: 0 20px;
    width: 100%;
    height: 30px;
}

.status-bar__message {
    margin-right: 20px;
    color: #ccc;
}

/*
 ********** Stats **********
 */
.stat-view {
    margin-left: 20px;
    width: 450px;
}

/*
 ********** Stat Row **********
 */
.stat-row {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    box-shadow: 0px 1px rgb(128, 128, 128) inset;
    width: 100%;
    font-weight: bolder;
    font-size: 20pt;
    line-height: 36px;
}

.stat-row--attribute {
    margin-bottom: 10px;
}

.stat-row--attribute> :not(.stat-row__stat-container) .stat-row__buttons,
.stat-row--attribute> :not(.stat-row__stat-container) .stat-row__advanced-checkbox {
    display: none;
}

.stat-row--skill .stat-row__name-label,
.stat-row--skill .stat-row__name-input {
    font-weight: normal;
    font-size: 18pt;
}

body[mode="edit"] .stat-row--skill .stat-row__name-label {
    cursor: text;
}

.stat-row--spec .stat-row__name-label,
.stat-row--spec .stat-row__name-input {
    font-style: italic;
    font-weight: normal;
    font-size: 16pt;
}

body[mode="edit"] .stat-row--spec .stat-row__name-label {
    cursor: text;
}

.stat-row--spec> :not(.stat-row__stat-container) .stat-row__advanced-checkbox,
.stat-row--spec> :not(.stat-row__stat-container) .stat-row__add-button {
    display: none;
}

.stat-row button {
    vertical-align: 2px;
    transition: opacity 0.2s;
    border: 0px;
    background-color: rgb(255, 140, 0);
    padding-top: 0.25em;
    width: 30px;
    height: 26px;
    color: black;
    font-weight: bolder;
    line-height: 100%;
    font-family: inherit;

    &:hover {
        background-color: rgb(255, 165, 0);
    }

    &:active {
        background-color: rgb(255, 190, 0);
    }
}

.stat-row button:disabled {
    background-color: rgb(100, 100, 100);
    color: #aaa;
}

.stat-row__buttons {
    display: flex;
    position: absolute;
    top: 5px;
    left: -40px;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
    transition: height 0.2s, opacity 0.2s;
    height: 0px;
}

body[mode="edit"] .stat-row__buttons {
    opacity: 1;
    height: 100%;
}

button.stat-row__abort-remove-button {
    display: none;
}

button.stat-row__confirm-remove-button {
    display: none;
    background-color: rgb(220, 50, 50);

    &:hover {
        background-color: rgb(240, 70, 70);
    }

    &:active {
        background-color: rgb(255, 90, 90);
    }
}

/*** Label and value ***/
.stat-row__main-container {
    display: flex;
    width: 100%;
}

.stat-row__name-edit {
    display: none;
}

.stat-row__name-input {
    position: relative;
    left: -4px;
    margin-right: -5px;
    width: 250px;
    height: 18pt;
    font-weight: bolder;
    font-size: 20pt;
    font-family: "Tw Cen MT";
}

.stat-row__name-input--invalid {
    /*border: 1px solid #ff0000;*/
    box-shadow: 1px 1px 5px #ff0000 inset;
    background-color: #ffdddd;
    color: #cc0000;
}

.stat-row__value-label {
    margin-left: auto;
}

/*** Widgets and modifier rows ***/
.stat-row__middle-container {
    display: flex;
    width: 100%;
}

body[mode="edit"] .stat-row__middle-container {
    margin-bottom: 5px;
}

.stat-row__widget-container {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.stat-row__advanced-checkbox {
    font-weight: normal;
    font-size: 10pt;
    font-family: "Segoe UI";

    & input {
        vertical-align: -2px;
    }

    & span {
        vertical-align: 0px;
    }
}

/*** Modifier rows ***/
.stat-row__modifier-container {
    width: 55%;
}

/*** Sub stats ***/
.stat-row__stat-container {
    margin-left: 25px;
    width: 100%;
}

/*** Other ***/
.stat-row__bottom-container {
    width: 100%;
}

button.stat-row__add-button {
    width: fit-content;
    font-size: 14px;
    font-family: "Tw Cen MT";
}

/*
 ********** Stat Modifier Row  **********
 */
.stat-modifier-row {
    display: flex;
    transition: height 0.2s, opacity 0.2s;
    width: 100%;
    height: 36px;
}

.stat-modifier-row__name {
    margin-right: 10px;
    margin-left: auto;
    font-weight: normal;
    font-size: 10pt;
    font-family: "Segoe UI";
}

.stat-modifier-row__buttons {
    margin-right: 0px;
    margin-left: 0px;
}

.stat-modifier-row__value {
    width: 6ch;
    font-weight: normal;
    font-size: 14pt;
    text-align: right;
}